.container_left{
	display: flex;
	flex-wrap: wrap;

	justify-content: flex-start;
}

.container_right{
	display: flex;
	flex-wrap: wrap;

	justify-content: flex-end;
}

.container_center{
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
}

.title{
    font-size:100%;
    letter-spacing:1px;

    line-height: 1.6875;
    font-family: Georgia;
}
.subtitle{
	font-size:90%;
    letter-spacing:1px;

    line-height: 1.6875;
    font-family: Georgia;
}
.text{
	font-size: 80%;
	letter-spacing: 1px;

	line-height: 1.6875;
	font-family: Georgia;
}

.clamp{
	padding: 0;
}

.frame{
	padding: 10px 10px;
}

@media only screen and (max-width:400px){
    .title{font-size:50%;}
    .subtitle{font-size: 40%;}
    .text{font-size: 30%;}
}
@media only screen and (max-width:800px){
    .title{font-size:70%;}
    .subtitle{font-size: 60%;}
    .text{font-size: 50%;}
}
@media only screen and (min-width:1100px){
    .title{font-size:100%;}
    .subtitle{font-size: 90%;}
    .text{font-size: 80%;}
    /*.wrap{max-width:770px;}*/
}

html, body{
    font-size: 100%;
    line-height: 1.6875;
    font-family: Georgia;
    background-color: rgb(230, 230, 230);
}

.banner{
	overflow-x: hidden;
}

.card{
	background-color: rgb(255, 255, 255);
}

.link{
	float: left;
	padding-left: 0px;
	padding-right: 0px;
}

.section_link{
	float: left;
	padding: 5px;
}

.highlight{
	position: relative;
	top: 2px;
	height: 5px;
	background-color: rgb(255, 255, 255);
}

.access_link{
	position: absolute;
	top: 0px;
	left: 20px;
}
.other_links{
	position: absolute;
	top: 110px;
	right: 20px;
}